{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Grupo GPS</title>
	<link href="/static/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
	<link href="/static/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
	<link href="/static/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
	<link href="/static/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
	<link href="/static/img/favicon.png" rel="icon" type="image/png">
	<link href="/static/img/favicon.ico" rel="shortcut icon">

	<link rel="stylesheet" href="/static/build/css/lib/font-awesome/font-awesome.min.css">
	<link rel="stylesheet" href="/static/build/css/lib/bootstrap/bootstrap.min.css">
	{% block css %}
	{% endblock %}
	<link rel="stylesheet" href="/static/build/css/main.css">
</head>
<body class="without-side-menu">
	{% include 'includes/header.html' %}
	<div class="page-content">
		<div class="container-fluid">
			{% block content %}

			{% endblock %}
		</div><!--.container-fluid-->
	</div><!--.page-content-->

	<script src="/static/build/js/lib/jquery/jquery.min.js"></script>
	<script src="/static/build/js/lib/tether/tether.min.js"></script>
	<script src="/static/build/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/static/build/js/plugins.js"></script>
	{% block javascript%}
	{% endblock %}
	<script src="/static/build/js/app.js"></script>
</body>
</html>